@charset "utf-8";
html::-webkit-scrollbar{
    width:5px;
    height:5px;
}
html::-webkit-scrollbar-button:start:decrement,html::-webkit-scrollbar-button:end:increment{
    visibility:hidden;
    margin-top:5px;
}
html::-webkit-scrollbar-track-piece{
    background-color:#3b3b3b;
    -webkit-border-radius:2px;
}
html::-webkit-scrollbar-thumb{
    -webkit-border-radius:2px;
    background-color:#284AFF;
}
a,img,input,button{
    border:0;
    text-decoration:none;
}
div.text+img{
    display:block;
    margin-top:4px;
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,label,legend,caption,tbody,tfoot,thead,input,table,th,td,tr,select,option,iframe,button{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
ol,ul{
    list-style:none;
}
blockquote,q{
    quotes:none;
}
:focus{
    outline:0;
}
a:hover,input[type=submit]:hover,button:hover{
    cursor:pointer;
}
ins{
    text-decoration:none;
}
del{
    text-decoration:line-through;
}
body{
    font-family:Arial;
    background-image: url('../img/body.png');
}
h1,h2,h3,h4,h5,h6,p,hr,ul,li{
    font-family:Arial;
    font-size: 12px;
    font-weight:normal;
}
.anim {
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}
#common {
    width: 1024px;
    margin: 30px auto auto auto;
}

#common #menu {
    float: left;
    width: 250px;
    margin: 0 10px 0 10px;
    overflow: hidden;
}

#common #menu .boxMenu {
    width: 220px;
    height: 40px;
    background-color: #323232;
    color: #fff;
    padding-top: 18px;
    padding-left: 30px;
    font-size: 16px;
    margin-bottom: 5px;
    cursor: pointer;
    background-image: url('../img/pix.png');
}
#common #menu .boxMenu:hover {
    padding-left: 50px;
    width: 200px;
    
}

#common #menu .mide {
    position: absolute;
    margin-top: -63px;
}

#common #menu .menuTitre {
    width: 220px;
    height: 40px;
    color: #fff;
    padding-top: 18px;
    padding-left: 30px;
    font-size: 16px;
    margin-bottom: 5px;
    background-color: #007eff;
    cursor: pointer;
    position: relative;
    z-index: 50;
}
#common #menu .menuTitre:hover {
    background-color: #3a9bff;
}

#common #menu .menuTitre .icone {
    position: absolute;
    margin-top: -5px;
    margin-left: 130px;
    height: 36px;
    width: 32px;
}

#common #menu .menuTitre .icone span {
    background: rgba(255,255,255,.3);
    height: 10px;
    width: 15px;
    float: left;
    margin-left: 1px;
    margin-bottom: 1px;
    display: block;
}

#common #commonDiv {
    margin-left: 270px;
    color: #fff;
}
#common #commonDiv .div {
    padding: 20px;
    margin-bottom: 5px;
    background-image: url('../img/pix.png');
    background-position: top right;
    background-repeat: no-repeat;
}
/*#common #commonDiv .corner {
    position: absolute;
    margin-top: -21px;
    margin-left: 717px;
}*/
#common #commonDiv .old {
    background-color: #323232;
    
}
#common #commonDiv .new {
    background-color: #007eff;
}
.isdown {
    -moz-transform: translateX(0px) translateY(400px);
    -webkit-transform: translateX(0px) translateY(400px);
    -o-transform: translateX(0px) translateY(400px);
    -ms-transform: translateX(0px) translateY(400px);
    transform: translateX(0px) translateY(400px);
    
}

table {
    width: 100%;
}

#common #commonDiv .formligne span input[type=text], #common #commonDiv .formligne span input[type=password], #common #commonDiv .formligne span input[type=email], #common #commonDiv .formligne span textarea {
    border: 1px solid;
    border-color: #323232;
    background-color: #fff;
    padding: 3px;
    min-width: 400px;
    max-width: 400px;
    float: right;
    margin-right: 100px;
}
#common #commonDiv .formligne span textarea {
    min-height: 200px;
    max-height: 200px;
}

#common #commonDiv .formligne {
    margin: 15px;
}
#common #commonDiv .formligne span {
    text-align: center;
}

#common #commonDiv .formligne span input[type=submit] {
    background-color: #007eff;
    padding: 7px 25px 10px 18px;
    color: #fff;
}