h1, h3 /* Nom d'une ou plusieurs balises html */
{
	color: blue; /* Option de balise */
	text-align: Center;
}

a{
	text-align: left;
}

header a{
	text-align: left;
}

.Ouverture /*le point pour des class ou id */
{
	color: red;
}

p{
	text-align: center;
}

body
{
    background-color: #FFFFEE;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

figure
{
	text-align: Center;
}

.centre
{
	text-align: Center;
}

.bouton
{
	text-decoration: none;
	font-weight: bold;
	background-color: yellow;
	border: 5px yellow outset;
	border-radius: 10px;
	box-shadow: 6px 6px 6px black;
	text-decoration: none;
}

.lien_cacher
{
	text-decoration: none;
	color: black;
}

footer {
	left: 0;
  	bottom: 0;
   	height: auto;
	background-color: #87CEFA;
    color: black;
    border-radius: 0px;
	display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;7
    border: 1px;
    border-radius: 10px;
    margin: 10px;
}

div
{
	margin: auto;
}

img
{
	margin: 10px;
}

.evenement
{
	display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.event
{
	border: 1px black solid;
	margin:  5px;
	width: 500px;
	text-decoration: none;
	color: black;
	text-align: center;
	align-content: flex-start;
}


.element:nth-child(2){
	display: flex;
	flex-direction: row;
}

.element:nth-child(3){

    width: 200px;
}

.element:nth-child(4)
{
	order: 4;
	font-size: 10px;
	white-space: nowrap;
	flex-wrap: flex-end;
	width: 150em;
	padding-top: 30px;
	text-align: center;
}


/* Bannière */

#banniere_image
{
    margin-top: 15px;
    height: 370px;
    border-radius: 5px;
    background: url('image/banniere2.png') no-repeat;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
}



@media screen and (max-width: 700px){
	
	footer
	{
		display: flex;
	    flex-direction: column;
	    width: auto;
        text-align: left;
	}

	.element{
		padding: 20px;
	}

	.element:nth-child(1)
	{
	    order: 3;
	}
	.element:nth-child(2)
	{
	    order: 1;
	}
	.element:nth-child(3)
	{
	    order: 2;
	    width: auto;
	    border: 3px black solid;
	}

	.element:nth-child(4)
	{
		order: 4;
	    width: auto;
	    align-self: center;
	    font-size: 10px;
	}
	
}





/* Menus dÃ©roulants */
nav
{
	background-color: #D7F091;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	border-bottom: 1px #A0A0A0 solid;
	box-shadow: 0px 3px 6px #A0A0A0;
	padding: 0px;

}

.boutonmenu
{	
	height: 50px;
	width: 245px;
	background-color: rgba(0,0,0,0);
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	transition: background 300ms;
}

.boutonmenu_encours
{
	height: 50px;
	width: 245px;
	background-color: #D7F091;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	transition: background 300ms;
}

.boutonmenu a , .boutonmenu_encours a
{
	text-decoration: none;
	color: black;
}

.boutonmenu:hover , .boutonmenu_encours:hover , .boutonmenu:active , .boutonmenu_encours:active
{
	background-color: #A6CA3F;
	border: none;
}

.menu:hover .liste
{
	transform: scaleY(1);
}

.liste 
{
	display: block;
	width: 244px;
	background-color: #D7F091;
	position: absolute;
	border: 1px #A0A0A0 solid;
	border-top: none;
	box-shadow: 0px 3px 4px #A0A0A0;
	z-index: 1;
	transform: scaleY(0);
	transform-origin: top;
	transition: transform 150ms , color 100ms;
}

.liste a , .liste a:hover , .liste a:active
{
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: black;
}

.lienmenu
{
	height: 45px;
	width: 244px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #D7F091;
	transition: background 250ms;
}

.lienmenu:hover
{
	background-color: #A6CA3F;
}

#ouverture_nav , #fermeture_nav , #image_burger , #image_croix
{
	display: none;
}


/* Bandeau gris des boutons*/
.bandeauboutons
{
	background-color: #E0E0E0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0 0 0;
	padding: 5px 20px 5px 20px;
	border: none;
	border-radius: 0px;
	box-shadow: none;
}

@media screen and (max-width: 950px){
	nav{
		flex-direction: column;
	}
	}

/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
}

.menu
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}