h1, h3 /* Nom d'une ou plusieurs balises html */
{
	color: blue; /* Option de balise */
	text-align: Center;
}

.Ouverture /*le point pour des class ou id */
{
	color: red;
}

body
{
	background-color: #87CEFA;
}

figure
{
	text-align: Center;
}

.centre
{
	text-align: Center;
}

.bouton
{
	text-decoration: none;
	font-weight: bold;
	background-color: yellow;
	border: 5px yellow outset;
	border-radius: 10px;
	box-shadow: 6px 6px 6px black;
	text-decoration: none;
}

.lien_cacher
{
	text-decoration: none;
	color: black;
}

footer {
	left: 0;
  	bottom: 0;
   	height: auto;
	background-color: white;
    color: black;
	border-radius: 0px 0px 25px 25px ;
	display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

div
{
	margin: auto;
}

img
{
	margin: 10px;
}

.evenement
{
	display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.event
{
	border: 1px black solid;
	margin:  5px;
	width: 500px;
	text-decoration: none;
	color: black;
	text-align: center;
	align-content: flex-start;
}

.element:nth-child(3){

    width: 200px;
    flex-wrap: wrap;
}

.element:nth-child(4)
{
	order: 4;
	font-size: 10px;
	white-space: nowrap;
	flex-wrap: flex-end;
	width: 150em;
	padding-top: 30px;
	text-align: center;
}


header{
	flex-grow: background-image: url("baniere.png");
}

@media screen and (max-width: 700px){
	
	footer
	{
		display: flex;
	    flex-direction: column;
	    width: auto;
        text-align: left;
	}

	.element{
		padding: 20px;
	}

	.element:nth-child(1)
	{
	    order: 3;
	}
	.element:nth-child(2)
	{
	    order: 1;
	}
	.element:nth-child(3)
	{
	    order: 2;
	    width: auto;
	    border: 3px black solid;
	}

	.element:nth-child(4)
	{
		order: 4;
	    width: auto;
	    align-self: center;
	    font-size: 10px;
	}
	
}